@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.main {
  padding: 100px;
  text-align: center;
}

.theme-changer {
  margin-top: 30px;
  label {
    margin: 0 12px;
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease;


  &:focus {
    // Don't do this in production for accessibility reasons
    outline: 0;
  }
}
